header{
            display: flex;
            align-items: center;
            height: 96px;
            header-content{
                display: flex;
                align-items: center;
            }
            .logo img{
    width: 100px;
    margin-bottom: 10px;
            }
            .header-content{
                display: flex;
                align-items: center;
            }
            .header-txt{
                width: 50%;
            }
            .header-txt h1{
                font-size: 80px;
                line-height: 90px;
                letter-spacing: 5px;
                color: rgba(0, 0, 0, 1);
                text-transform: uppercase;
                margin-bottom: 25px;
            }
            .header-txt span{
                font-size: 40px;
                color: white;
            
            }
            
            .header-img {
                width: 50%;
            }
            .header-img img{
                width: 700px;
            }
            .menu{
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                z-index: 1000;
                .menu.logo{
                    color: antiquewhite;
                    font-size: 22px;
                    font-weight: 800;
                    text-transform: uppercase;
                }
                .menu .navbar ul li{
                    position: relative;
                    float: left;
                }
                .menu .navbar ul li a{
                    font-size: 18px;
                    padding: 20px;
                    color: rgba(0, 0, 0, 1);
                    display: block;
                    list-style: none;
                    text-decoration: none;
                }
                .menu .navbar ul li a:hover {
                    background-color: #DCBA8C;
                    color: white;
                }
                #menu{
                    display: none;
                }
                .menu-icono {
                    width: 25px;
                }
                .menu label{
                    cursor: pointer;
                    display: none;
                }
            }
                    
    }
